---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./gluetun.sops.yaml
  - ./vpn.sops.yaml
components:
  - ../../../../components/moosefs
configMapGenerator:
  - name: qbittorrent-dnsdist
    files:
      - ./resources/dnsdist.conf
generatorOptions:
  disableNameSuffixHash: true
