---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: k8s-gateway
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: k8s-gateway
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
  values:
    image:
      registry: ghcr.io
      repository: k8s-gateway/k8s_gateway
      tag: 1.6.3
      pullPolicy: IfNotPresent
    fullnameOverride: k8s-gateway
    domain: "${SECRET_DOMAIN}"
    ttl: 1
    service:
      type: LoadBalancer
      port: 53
      annotations:
        io.cilium/lb-ipam-ips: "10.10.2.12"
      externalTrafficPolicy: Cluster
    watchedResources: ["Ingress", "Service", "HTTPRoute"]
