---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: intel-device-plugin-gpu
spec:
  interval: 30m
  chart:
    spec:
      chart: intel-device-plugins-gpu
      version: 0.34.0
      sourceRef:
        kind: HelmRepository
        name: intel
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: intel-device-plugin-operator
      namespace: kube-system
  values:
    name: intel-gpu-plugin
    gpu:
      enabled: true
      resourceManager: true
      sharedDevNum: 3

    # Override at the top level instead of under gpu.plugin
    logLevel: 2
    enableMonitoring: true
    allocationPolicy: none

    # Try specifying args at the root level
    args:
      - "-v=2"
      - "-enable-monitoring"
      - "-resource-manager"
      - "-shared-dev-num=3"
      - "-resource-name=skeelz.net/gpu"
