---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wizarr
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  dependsOn: []
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      wizarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository:  ghcr.io/wizarrrr/wizarr
              tag: v2025.12.0
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 15m
                memory: 180M
              limits:
                memory: 300M
    service:
      main:
        controller: *app
        ports:
          http:
            port: 5690
    route:
      app:
        hostnames: ["join.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          wizarr:
            main:
              - path: /data/database
