---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: externaldns-internal-technitium
  namespace: networking
spec:
  interval: 30m
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
      interval: 30m
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    provider: webook
    fullnameOverride: &name externaldns-internal-technitium
    webhook:
      image:
        repository: ghcr.io/roosmaa/external-dns-technitium-webhook
        tag: v0.4.1
        pullPolicy: IfNotPresent
      env:
        - name: RUST_LOG
          value: "external_dns_technitium_webhook=info"
        - name: LISTEN_PORT
          value: "5580"
        - name: TECHNITIUM_URL
          value: "192.168.1.10:5380"
        - name: ZONE
          value: ${SECRET_DOMAIN}
      envFrom:
      - secretRef:
          name: external-dns-technitium-secret
    policy: sync
    sources:
      - ingress
      - service
      - crd
      - gateway-httproute
    txtPrefix: "k8s."
    domainFilters:
      - ${SECRET_DOMAIN}
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: external-dns-technitium-secret
    livenessProbe:
      httpGet:
        path: /healthz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5
    readinessProbe:
      httpGet:
        path: /readyz
        port: http-webhook
      initialDelaySeconds: 10
      timeoutSeconds: 5
