---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: talos
components:
  - ../../../components/namespace
replacements:
  - path: ../../../components/replacements/ks.yaml
resources:
  - ./talos-backup/ks.yaml
