---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
labels:
  - pairs:
      app.kubernetes.io/name: immich
      app.kubernetes.io/instance: immich
      app.kubernetes.io/part-of: immich
resources:
  - ./externalsecret.yaml
  - ./server
  - ./machine-learning
components:
  - ../../../../components/gpu/intel
