---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app unifi-controller
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  dependsOn: []
  maxHistory: 10
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false

  values:
    controllers:
      unifi-controller:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            nameOverride: *app
            image:
              repository: jacobalberty/unifi
              tag: v10.0.162
              pullPolicy: IfNotPresent
            env:
              RUNAS_UID0: false
              UNIFI_UID: 999
              UNIFI_GID: 999
              UNIFI_STDOUT: true
              JVM_INIT_HEAP_SIZE:
              JVM_MAX_HEAP_SIZE: 1024M
            resources:
              requests:
                cpu: 23m
                memory: 1390M
              limits:
                memory: 1390M
            probes:
              liveness:
                enabled: true
                port: 8080
              readiness:
                enabled: true
                port: 8080
              startup:
                enabled: true
                port: 8080
    service:
      app:
        controller: *app
        type: LoadBalancer
        loadBalancerIP: 10.10.2.3
        ports:
          https:
            port: 8443
            protocol: HTTPS
          controller:
            port: 8080
            protocol: HTTP
          portal-http:
            port: 8880
            protocol: HTTP
          portal-https:
            port: 8843
            protocol: HTTPS
          speedtest:
            port: 6789
            protocol: TCP
          stun:
            port: 3478
            protocol: UDP
          syslog:
            port: 5514
            protocol: UDP
          discovery:
            port: 10001
            protocol: UDP
    route:
      app:
        hostnames: ["unifi.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: 8443
            timeouts:
              request: 0s # websocket, never time out
              backendRequest: 0s # websocket, never time out
    persistence:
      data:
        existingClaim: *app
        advancedMounts:
          unifi-controller:
            app:
              - path: /unifi
      cert:
        type: secret
        name: '${SECRET_DOMAIN/./-}-unifi'
        advancedMounts:
          unifi-controller:
            app:
              - path: /unifi/cert/cert.pem
                subPath: tls.crt
                readOnly: true
              - path: /unifi/cert/privkey.pem
                subPath: tls.key
                readOnly: true
              - path: /unifi/data/keystore
                subPath: keystore.jks
                readOnly: false
