---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name prowlarr-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        PROWLARR__AUTH__APIKEY: &apiKey "{{ .prowlarr_token }}"
        PROWLARR__POSTGRES__HOST: &dbHost postgres-rw.database.svc.cluster.local
        PROWLARR__POSTGRES__PORT: "5432"
        PROWLARR__POSTGRES__USER: &dbUser "{{ .pg_user }}"
        PROWLARR__POSTGRES__PASSWORD: &dbPass "{{ .pg_pass }}"
        PROWLARR__POSTGRES__MAINDB: prowlarr_main
        PROWLARR__POSTGRES__LOGDB: prowlarr_log
        # Postgres Init
        INIT_POSTGRES_DBNAME: prowlarr_main prowlarr_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .super_pg_pass }}"
        # Exportar vars
        APIKEY: *apiKey
        URL: "{{ .url }}"
  dataFrom:
  - extract:
      key: prowlarr
  - extract:
      key: cloudnative-pg
