---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name radarr-4k-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        # App
        RADARR__API_KEY: &apiKey "{{ .radarr_token }}"
        RADARR__POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
        RADARR__POSTGRES_PORT: "5432"
        RADARR__POSTGRES_USER: &dbUser "{{ .pg_user }}"
        RADARR__POSTGRES_PASSWORD: &dbPass "{{ .pg_pass }}"
        RADARR__POSTGRES_MAIN_DB: radarr4k_main
        RADARR__POSTGRES_LOG_DB: radarrs4k_log
        # Postgres Init
        INIT_POSTGRES_DBNAME: radarr4k_main radarr4k_log
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .super_pg_pass }}"
  dataFrom:
  - extract:
      key: radarr-4k
  - extract:
      key: cloudnative-pg
