---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: manyfold
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  dependsOn: []
  values:
    controllers:
      manyfold:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          chown-tmpdirs:
            image:
              repository: docker.io/library/alpine
              tag: "3.22"
            command:
              - /bin/sh
              - -c
            args:
              - |
                chmod o-rwx /tmp
            securityContext:
              runAsUser: 0
        containers:
          app:
            image:
              repository: ghcr.io/bjw-s-labs/manyfold
              tag: 0.129.0@sha256:ec525394e6bab03bbe2f9f97ae3c236d0c3811bc5da73c7151c0f8038f323123
            env:
              DATABASE_URL: sqlite3:/data/database/manyfold.sqlite3
              MULTIUSER: false
              PORT: &port 3214
              REDIS_URL: "redis://{{ .Release.Name }}-dragonfly:6379"
              REGISTRATION: false
              SECRET_KEY_BASE:
                valueFrom:
                  secretKeyRef:
                    name: manyfold-secret
                    key: MANYFOLD_SECRET_KEY
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 20m
                memory: 128Mi
              limits:
                memory: 1536Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
            - *host
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          manyfold:
            app:
              - path: /data/database
                subPath: database
              - path: /data/libraries/main
                subPath: libraries/main
      tmpfs:
        type: emptyDir
        advancedMounts:
          manyfold:
            app: &tmpdirs
              - path: /tmp
                subPath: host-tmp
              - path: /app/tmp
                subPath: app-tmp
              - path: /app/log
                subPath: app-log
            chown-tmpdirs: *tmpdirs
