---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: lidarr-exporter
  namespace: observability
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: lidarr-exporter-secret
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        API_KEY: "{{ .lidarr_token }}"
        URL: "{{ .url }}"
  dataFrom:
    - extract:
        key: lidarr
