---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../../components/namespace
replacements:
  - path: ../../../components/replacements/ks.yaml
resources:
  - ./namespace.yaml
  - ./exporters
  - ./gatus/ks.yaml
  - ./grafana/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./kromgo/ks.yaml
  - ./prometheus-operator-crds/ks.yaml
  - ./smartctl-exporter/ks.yaml
  - ./thanos/ks.yaml
