---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  dependsOn: []
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      plex:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/tparker00/plex
              tag: 1.42.2.10156-f737b826c
            env:
              TZ: ${TIMEZONE}
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
                spec:
                  failureThreshold: 60
                  periodSeconds: 60
              startup:
                enabled: true
                spec:
                  failureThreshold: 90
                  periodSeconds: 5
            resources:
              requests:
                cpu: 1000m
                memory: 4G
                gpu.intel.com/i915: 1
              limits:
                gpu.intel.com/i915: 1
    defaultPodOptions:
      securityContext:
        runAsUser: 568
        runAsGroup: 568
        runAsNonRoot: true
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [44, 105, 10000]
    service:
      app:
        controller: plex
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: 10.10.5.4
        ports:
          http:
            port: 32400
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 401"]
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: *app
      tv-data:
        enabled: true
        existingClaim: tv-ro
        globalMounts:
          - path: /mnt/tv
            readOnly: true
      movie-data:
        enabled: true
        existingClaim: movies-ro
        globalMounts:
          - path: /mnt/movies
            readOnly: true
      movie4k-data:
        enabled: true
        existingClaim: movies4k-ro
        globalMounts:
          - path: /mnt/movies-4k
            readOnly: true
      tmp:
        type: emptyDir
      transcode:
        type: emptyDir
