---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stash
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      stash:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            supplementalGroups: [44, 105, 109, 226, 10000]
        containers:
          main:
            image:
              repository: ghcr.io/feederbox826/stash-s6
              tag: hwaccel@sha256:6005151b921c8b6176a4b1f2ee826573d0086153046011e5279e1c4b50daad10
              pullPolicy: IfNotPresent
            env:
              TZ: ${TIMEZONE}
              STASH_STASH: /data
              STASH_CACHE: /root/.stash/cache
              NVIDIA_VISIBLE_DEVICES: all
              NVIDIA_DRIVER_CAPABILITIES: all
            resources:
              requests:
                cpu: 500m
                memory: 512Mi
                nvidia.com/gpu: 1
              limits:
                nvidia.com/gpu: 1
    service:
      main:
        controller: *app
        ports:
          http:
            port: 9999
    ingress:
      main:
        enabled: true
        className: internal
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /root/.stash
      data:
        enabled: true
        existingClaim: stash-rw
      cache:
        type: emptyDir
