---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stash
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s-charts
        namespace: flux-system
  maxHistory: 2
  dependsOn: []
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      stash:
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            supplementalGroups: [44, 105, 109, 226, 10000]
        containers:
          main:
            image:
              repository: ghcr.io/feederbox826/stash-s6
              tag: hwaccel@sha256:2dc55cade07acd8d3ae78dc521ffc17fac510e21d65bfdd0dc21c1322af96388
              pullPolicy: IfNotPresent
            env:
              TZ: ${TIMEZONE}
              STASH_STASH: /data
              STASH_CACHE: /root/.stash/cache
              NVIDIA_VISIBLE_DEVICES: all
              NVIDIA_DRIVER_CAPABILITIES: all
            resources:
              requests:
                cpu: 500m
                memory: 512Mi
                nvidia.com/gpu: 1
              limits:
                nvidia.com/gpu: 1
    service:
      main:
        controller: *app
        ports:
          http:
            port: 9999
    route:
      app:
        hostnames: ["{{ .Release.Name }}.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /root/.stash
      data:
        enabled: true
        existingClaim: stash-rw
      cache:
        type: emptyDir
