---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy-gateway
  namespace: flux-system
spec:
  interval: 1h
  path: ./kubernetes/apps/network/envoy-gateway/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  wait: false
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy-config
  namespace: flux-system
spec:
  dependsOn:
    - name: envoy-gateway
  interval: 1h
  path: ./kubernetes/apps/network/envoy-gateway/config
  postBuild:
    substitute:
      CLUSTER: ${CLUSTER_NAME}
      EXTERNAL_DOMAIN: external
      INTERNAL_DOMAIN: internal
      SVC_GATEWAY_EXTERNAL: 10.10.5.6
      SVC_GATEWAY_INTERNAL: 10.10.5.5
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  wait: false
