---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: sabnzbd-exporter
  namespace: observability
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secrets-manager
  target:
    name: sabnzbd-exporter-secret
    deletionPolicy: Delete
    template:
      engineVersion: v2
      data:
        API_KEY: "{{ .sabnzbd_token }}"
        URL: "{{ .url }}"
  dataFrom:
    - extract:
        key: sabnzbd
